/* src/app/globals.css */
@import "tailwindcss";

/* Theme tokens (Tailwind v4) */
@theme inline {
    --color-background: #f8fafc; /* fondo base claro */
    --color-foreground: #020617; /* texto oscuro */
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif; /* fallback; Inter lo sobrescribe con la variable */
}
